<%= link_to "Home", lists_path %>

  <div class="container">

  <section>
  <div class= "list">
    <h2><%= @list.title %> </h2>
  <h3> <%= link_to " Items +", new_list_item_path(@list) %> </h3>
    <% @list.items.all.each do |item| %>
    <div class="edit_buttons">
       <%= item.name %>     |
          <%= item.category %>  |
          <%= item.quantity %>  |
          <%= item.note %>
    <%= link_to "&#9997;".html_safe,edit_list_item_path(@list, item) %>
    <%= link_to "&#10060;".html_safe,list_item_path(@list, item), method: :delete %>
    <% end %>
  </div>

    <time>Last updated by: <%= @list.user.email %> <br> <%= @list.updated_at %> </time>
        <% if @list.user == current_user %>
       <%= link_to "&#9997;".html_safe, edit_list_path(@list) %>
       <%= link_to "&#10060;".html_safe, list_path(@list), method: :delete %>
      <%end %>
</section>
</div>
