<%= link_to "Home", lists_path %>
<div class="container">
<section>
  <div class= "list">
  <h2><%= @list.title %></h2>
  <h3>Items <%= link_to "(+)", new_list_item_path(@list) %> </h3>
      <% @list.items.each do |item| %>
        <p> <%= item.name %> </p>
        <p> <%= item.category %> </p>
        <p> <%= item.quantity %> </p>
        <p> <%= item.photo_url %> </p>
        <p> <%= item.note %> </p>
        <!-- <time><p>Last updated by: <%= item.user.email %></p>
           <%= item.updated_at %></time> -->
        <% if item.user == current_user || @list.user == current_user%>
        <p><%= link_to "Edit Item", edit_list_item_path(@list, item) %> |
        <%= link_to "Remove Item", list_item_path(@list, item), method: :delete %></p>
        <% end %>
    <% end %>
    <time>Last updated by: <%= @list.user.email %> <br> <%= @list.updated_at %> </time>
      <% if @list.user == current_user %>
    <p> <%= link_to "Update List name", edit_list_path(@list) %> |
      <%= link_to "Delete List", list_path(@list), method: :delete %> </p>
      <%end %>
</div>
</section>
</div>
