
  <div class="container">

  <section>
    <%= link_to "Home", lists_path, :class => "home_path"%>
    <h2><%= @list.title %> </h2>
  <h3> <%= link_to "Add Items", new_list_item_path(@list) %> </h3>
    <% @list.items.all.each do |item| %>
    <div class="edit_buttons">
        <ul>
          <li>
          <%= item.name %>     |
          <%= item.category %>  |
          <%= item.quantity %>  |
          <%= item.note %>
    <%= link_to "&#9997;".html_safe, edit_list_item_path(@list, item), :class => "item_edit"  %>
    <%= link_to "&#10060;".html_safe,list_item_path(@list, item), method: :delete, :class => "item_delete" %>
       </li>
       </ul>
    <% end %>
    <time>Last updated by: <%= @list.user.email %> <br> <%= @list.updated_at %> </time>
        <% if @list.user == current_user %>
       <%= link_to "&#9997;".html_safe, edit_list_path(@list), :class => "list_edit" %>
       <%= link_to "&#10060;".html_safe, list_path(@list), method: :delete, :class => "list_delete" %>
      <%end %>
</section>
</div>
</div>
