<%= form_for [@list, @item] do |f| %>
  <h2>Item</h2>
    <%= f.label :name%>
    <%= f.text_field :name, placeholder: "e.g. Apples" %>

    <%= f.label :category %>
    <%= f.text_field :category, placeholder: "e.g. Fruit" %>

    <%= f.label :quantity%>
    <%= f.number_field :quantity, placeholder: "e.g. 4" %>

    <%= f.label :note %>
    <%= f.text_area :note, placeholder: "e.g. Get at Trader Joe's", :class => "text-box"  %>

    <%= f.submit :class => "button-submit" %>
<% end %>
