<div class="container">
  <h3>Items <%= link_to "(+)", new_list_item_path(@list) %> </h3>
      <% @list.items.all.each do |item| %>
        <p> <%= item.name %> </p>
        <p> <%= item.category %> </p>
        <p> <%= item.quantity %> </p>
        <p> <%= item.photo_url %> </p>
        <p> <%= item.note %> </p>
        <p><%= link_to "Edit Item", edit_list_item_path(@list, item) %> |
        <%= link_to "Remove Item", list_item_path(@list, item), method: :delete %></p>
    <% end %>
</div>
