<!DOCTYPE html>
<html>
  <head>
    <title>Shoppinglist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
  <header>
    Shopping List
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M7.277,15.822c0.539-1.933,2.389-3.361,4.583-3.361c2.191,0,4.022,1.432,4.564,3.361H7.277z M82.994,83.904V16.983  c0-3.773-3.168-6.843-7.063-6.843H11.86c-3.894,0-7.062,3.07-7.062,6.843v1.161h11.804v66.922c0,3.773,3.168,6.843,7.063,6.843  h64.07c3.895,0,7.063-3.07,7.063-6.843v-1.161H82.994z M18.923,85.065V16.983c0-1.732-0.668-3.316-1.766-4.522h58.774  c2.615,0,4.742,2.029,4.742,4.522v66.922H28.407v1.161c0,2.493-2.127,4.521-4.742,4.521S18.923,87.558,18.923,85.065z   M87.735,89.586H28.963c0.848-0.931,1.438-2.086,1.664-3.361h61.692C91.78,88.158,89.929,89.586,87.735,89.586z"/><circle cx="58.089" cy="43.329" r="1.705"/><circle cx="40.189" cy="43.329" r="1.705"/><path d="M62.167,20.769c-0.001,0-0.001,0-0.001,0l-23.53-1.386l-0.629-2.096c-0.089-0.335-0.632-1.55-3.834-1.55  c-0.351,0-0.635,0.284-0.635,0.635s0.284,0.635,0.635,0.635c1.858,0,2.51,0.451,2.614,0.636l5.074,16.915l-2.182,3.475  c-0.09,0.13-0.522,0.812-0.187,1.453c0.233,0.446,0.725,0.672,1.462,0.673h18.465c0.272,0,0.493,0.221,0.493,0.493  c0,0.351,0.284,0.635,0.635,0.635s0.635-0.284,0.635-0.635c0-0.973-0.792-1.764-1.764-1.764H40.955  c-0.133,0-0.225-0.011-0.286-0.023c0.018-0.042,0.043-0.09,0.071-0.133l2.175-3.462l17.238-0.83c0.89,0,1.596-0.668,1.752-1.643  l1.975-10.146l0.012-0.121C63.892,21.56,63.102,20.769,62.167,20.769z"/><path d="M72.337,57.071h-31.26c-0.962,0-1.741-0.779-1.741-1.741s0.779-1.741,1.741-1.741h31.26c0.962,0,1.741,0.779,1.741,1.741  S73.298,57.071,72.337,57.071z"/><path d="M72.337,67.402h-31.26c-0.962,0-1.741-0.779-1.741-1.741c0-0.962,0.779-1.741,1.741-1.741h31.26  c0.962,0,1.741,0.779,1.741,1.741C74.078,66.622,73.298,67.402,72.337,67.402z"/><path d="M72.337,77.733h-31.26c-0.962,0-1.741-0.779-1.741-1.741s0.779-1.741,1.741-1.741h31.26c0.962,0,1.741,0.779,1.741,1.741  S73.298,77.733,72.337,77.733z"/><path d="M33.554,59.414h-8.169v-8.169h8.169V59.414z M27.707,57.093h3.526v-3.526h-3.526V57.093z M33.554,69.745h-8.169v-8.169  h8.169V69.745z M27.707,67.424h3.526v-3.526h-3.526V67.424z M33.554,80.076h-8.169v-8.168h8.169V80.076z M27.707,77.755h3.526  v-3.526h-3.526V77.755z"/><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text></svg>
</header>
    </div>
    <h1> Welcome to Shopping List!</h1>
    <h4>Shopping List is the smarter way to keep your shopping organized and up to speed. Plus you are also able to add collaborators to your lists. <br> Create an account to get the full experience.</h4>
    <nav>
  <%if !current_user%>
  <p><%= link_to "Sign Up",new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path%></p>
   <% else %>
   <p><%= current_user.email %></p>
   <p> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </p>
<% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</nav>
<%= yield %>
  </body>
</html>
