<!DOCTYPE html>
<html>

  <head>

    <title>Shoppinglist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700" rel="stylesheet">

  </head>

  <body>

  <div class="signing_buttons">
    <nav>
  <%if !current_user%>
   <%= link_to "Sign Up",new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path%>
  <% else %>
   <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> | <p><%= current_user.email %></p>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </nav>
  </div>
    <div class="logo">
  <header>
    <?xml version="1.0" encoding="UTF-8"?>
<svg width="187px" height="172px" viewBox="0 0 187 172" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>Tablet</title>
    <?xml version="1.0" encoding="UTF-8"?>
  <svg width="187px" height="172px" viewBox="0 0 187 172" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
      <title>Tablet</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Tablet">
              <path d="M130.682128,41.8723404 C130.682128,41.3617021 130.682128,41.106383 130.682128,40.5957447 C130.682128,18.1276596 112.665757,0 90.3356071,0 C69.0204638,0 51.5115962,16.8510638 50.2428377,38.0425532 L0,35.7446809 L8.88130969,168 L171.282401,162.12766 L186,44.4255319 L130.682128,41.8723404 Z M92,8 C110.162791,8 125,22.3909774 125,40.0075188 C125,40.2556391 125,40.5037594 125,41 L59,38.0225564 C60.0232558,21.1503759 74.3488372,8 92,8 Z" id="Shape" fill="#610940" fill-rule="nonzero"></path>
              <g id="Group" transform="translate(21.000000, 62.000000)" fill="#F0C160">
                  <path d="M12.9782412,16.0731723 C12.8703439,15.2562529 12.500214,14.5961778 11.866926,14.0927513 C11.2323232,13.5890905 10.1727506,13.1086798 8.68699379,12.6512923 C6.0924935,11.8862829 4.07853125,10.9917614 2.64689277,9.96803719 C1.20926161,8.94325473 0.349800457,7.55596223 0.072601113,5.80691171 C-0.205111858,4.0578612 0.313571078,2.64171274 1.6343743,1.55942665 C2.96228199,0.478477619 4.79518342,-0.0401831581 7.1276676,0.00242596628 C9.48949627,0.0455744467 11.4956843,0.700554563 13.1400784,1.96627056 C14.7760248,3.23049935 15.6794394,4.76936765 15.8566417,6.58409121 L15.838413,6.67100776 L11.7220068,6.60570715 C11.5909473,5.6234588 11.156171,4.82300316 10.4163784,4.20407181 C9.67473226,3.58481458 8.70725158,3.2648862 7.51526648,3.24452152 C6.37209243,3.22499145 5.52493281,3.46333279 4.97481345,3.95974551 C4.42605521,4.4564153 4.21126493,5.0998867 4.32934171,5.88998619 C4.43712803,6.61180549 4.85722908,7.20954293 5.58865224,7.68302795 C6.31865396,8.15626162 7.53130157,8.66326845 9.22479454,9.20373629 C11.6356313,9.89001369 13.5043328,10.7759338 14.8317626,11.8616685 C16.1532769,12.9463495 16.9187822,14.3571679 17.1324316,16.0949561 C17.3552054,17.9104108 16.835663,19.3347381 15.5789461,20.3689035 C14.3286671,21.4042995 12.5724553,21.9111986 10.3053643,21.888693 C8.07565526,21.8665595 6.04310884,21.249678 4.20074056,20.0367737 C2.34902968,18.8221945 1.27273373,17.1345844 0.978598788,14.9752129 L0.993229321,14.8876135 L5.04767283,14.9388795 C5.23695528,16.2072719 5.75189589,17.141037 6.59114219,17.7399242 C7.42831009,18.33844 8.5161777,18.6450658 9.85630733,18.6600897 C10.9793456,18.6726801 11.8059332,18.4438943 12.3370502,17.9739042 C12.8694157,17.5041526 13.0834786,16.8706413 12.9782412,16.0731723 Z M37.4664711,21.8553593 L33.3762354,21.8142348 L32.6087603,13.0621857 L24.0907501,12.9470107 L25.026144,21.73029 L20.9209176,21.6890242 L18.4544424,0.514135653 L22.7601106,0.592348348 L23.7406301,9.68050183 L32.3215007,9.80729146 L31.5170464,0.751452255 L35.8061527,0.829397099 L37.4664711,21.8553593 Z M57.4823815,13.5131211 C57.5652791,16.0708224 56.8327433,18.1753981 55.2939449,19.82863 C53.7671621,21.4841533 51.7398552,22.3001607 49.202879,22.2749583 C46.6845106,22.2499418 44.5868356,21.3898244 42.9006257,19.692877 C41.2020446,17.9936586 40.2563358,15.8549467 40.072398,13.2783805 L39.8017565,9.50007653 C39.617265,6.93312439 40.2796138,4.81968465 41.7982277,3.161397 C43.3288998,1.50538014 45.4207686,0.702416427 48.0646676,0.750778682 C50.7279929,0.799500507 52.9301473,1.6780267 54.6618422,3.38465512 C56.3808699,5.08897886 57.2772837,7.21432339 57.3604176,9.76248097 L57.4823815,13.5131211 Z M53.14011,9.67073593 C53.0717362,8.04543758 52.6033713,6.70512481 51.7321402,5.64922063 C50.856971,4.59260076 49.6911058,4.05162063 48.2374199,4.0268008 C46.7836693,4.00198097 45.6870927,4.50295214 44.9504345,5.53024479 C44.2174111,6.55822471 43.9035957,7.89301245 44.0061225,9.53413258 L44.2428689,13.3346023 C44.3459971,14.9949168 44.8236938,16.3529428 45.673241,17.4081967 C46.5189697,18.4627518 47.6383609,18.9976143 49.0342771,19.0133244 C50.4490164,19.0292468 51.5284233,18.5201803 52.2753382,17.4866402 C53.0259608,16.4538073 53.368112,15.1106862 53.2989277,13.4567061 L53.14011,9.67073593 Z M64.9467109,14.5982322 L65.0640414,22.1329142 L60.961823,22.0916484 L60.4385218,1.27724513 L68.9786395,1.43259912 C71.442084,1.47741986 73.378185,2.11936726 74.7813589,3.35739272 C76.1768304,4.59399435 76.8604766,6.20089465 76.8381211,8.17920971 C76.8158182,10.1575248 76.1074332,11.7378567 74.7185205,12.9213126 C73.3370872,14.1061811 71.453665,14.6834735 69.0624922,14.6521475 L64.9467109,14.5982322 Z M64.8964402,11.3874302 L69.0422518,11.4469768 C70.2129849,11.4637933 71.1000669,11.1610533 71.7048391,10.5389904 C72.3113296,9.91725111 72.6160728,9.11816701 72.6177906,8.14147142 C72.6195448,7.14581086 72.3176206,6.31825179 71.7106692,5.65852134 C71.1019323,4.99846017 70.1976358,4.65813038 68.9990604,4.6377698 L64.7891039,4.56625981 L64.8964402,11.3874302 Z M84.0074052,14.8479649 L83.8010768,22.3214367 L79.7002668,22.2801709 L80.0772472,1.6345593 L88.6119108,1.78991328 C91.0737818,1.83473402 92.9820961,2.4717352 94.3313606,3.69986806 C95.6730441,4.92657709 96.2867241,6.52045491 96.1782687,8.48261721 C96.0700487,10.4447795 95.2930765,12.0121276 93.8527796,13.1857681 C92.4199788,14.3608214 90.5114198,14.9332062 88.1213273,14.9018802 L84.0074052,14.8479649 Z M84.0958637,11.6632468 L88.2396128,11.7227934 C89.4097634,11.7396099 90.3100671,11.4394396 90.9418705,10.8225162 C91.5753991,10.2059164 91.9148601,9.4133822 91.9590047,8.44464706 C92.0040555,7.45710152 91.7381102,6.63624691 91.1598102,5.98181054 C90.5797566,5.32704346 89.6901693,4.98936068 88.4923056,4.96900009 L84.2848489,4.8974901 L84.0958637,11.6632468 Z M102.78437,22.5125031 L98.6849878,22.4712373 L99.9681635,1.99669479 L104.262439,2.07490748 L102.78437,22.5125031 Z M123.388924,22.7199627 L119.305125,22.6788382 L112.325957,8.68004499 L112.237735,8.6926644 L110.968174,22.5948934 L106.869407,22.5536275 L108.541409,2.15285233 L112.834485,2.23106502 L119.931504,16.2399985 L120.018508,16.2271528 L121.565803,2.39016893 L125.842359,2.46811377 L123.388924,22.7199627 Z M143.361821,20.1726578 C142.619581,20.9565367 141.55396,21.6498569 140.165951,22.2528491 C138.781641,22.856553 137.109487,23.1489026 135.146614,23.129373 C132.650859,23.1045425 130.718142,22.3171218 129.340326,20.7654618 C127.951599,19.2116347 127.41055,17.2070948 127.726018,14.7534072 L128.270868,10.531234 C128.587473,8.08680568 129.635749,6.10709426 131.423539,4.59360786 C133.222608,3.0822115 135.380788,2.35032058 137.889515,2.39634563 C140.496021,2.44416852 142.39646,3.07696907 143.585621,4.29370462 C144.767552,5.50902467 145.207188,7.08630991 144.910284,9.02663261 L144.867438,9.10891759 L140.885624,9.04613208 C140.977605,7.97656435 140.752851,7.12563888 140.210178,6.49312581 C139.665756,5.8602686 138.77503,5.53312724 137.53925,5.51195 C136.235306,5.48960552 135.115287,5.94947093 134.181875,6.89205173 C133.252027,7.83528812 132.683429,9.06038441 132.473652,10.5668857 L131.884808,14.809098 C131.672528,16.3433263 131.902809,17.5936414 132.572839,18.5595712 C133.239476,19.5248214 134.249351,20.0148146 135.605005,20.030075 C136.565237,20.0408845 137.351898,19.9527969 137.965416,19.765885 C138.579453,19.5790736 139.059772,19.344682 139.406306,19.062685 L139.992923,15.3329777 L136.309992,15.284275 L136.726915,12.4893724 L144.627885,12.6028509 L143.361821,20.1726578 Z M18.7135972,81.6637542 L38.3993729,81.3151677 L39.0553097,89.3809645 L11.0694323,90 L2.9180896,36.8354168 L12.7860744,36.8720313 L18.7135972,81.6637542 Z M53.2993353,89.0661783 L44.5969296,89.2584745 L40.9669884,36.9766084 L50.8324016,37.013223 L53.2993353,89.0661783 Z M85.8813385,74.9920264 C85.9492179,73.0224531 85.3866561,71.4477086 84.1881807,70.2666566 C82.9825757,69.0841523 80.831819,67.9810178 77.7293662,66.9559026 C72.2776531,65.2426 68.1198766,63.1771848 65.2658517,60.7616771 C62.3786605,58.3396131 60.8671172,55.002131 60.7557857,50.7540479 C60.6439413,46.5059649 62.2455462,43.0369384 65.5930101,40.3530774 C68.9832064,37.6775003 73.3675344,36.3536373 78.7138456,36.3752359 C84.1276145,36.3971079 88.4790276,37.90879 91.7330821,40.9034171 C94.9403431,43.88883 96.3439347,47.5606727 95.9814577,51.9263019 L95.9041273,52.1366148 L86.6778996,52.1661921 C86.7617823,49.7980147 86.0888405,47.8821021 84.6512258,46.4168826 C83.2033782,44.9496441 81.1246655,44.2145804 78.4227162,44.213184 C75.8314959,44.2118447 73.8243565,44.824119 72.4073837,46.0512197 C70.9985903,47.2799132 70.3007981,48.8517472 70.3078506,50.7655743 C70.3142843,52.5140088 71.0608026,53.9463709 72.5415055,55.0615354 C74.0143211,56.1751427 76.5466612,57.3459254 80.1284677,58.5718904 C85.236295,60.1112838 89.0418741,62.1561297 91.5499756,64.7073893 C94.0260129,67.2521208 95.1328123,70.6111408 94.8952221,74.7894463 C94.6482759,79.1544917 92.9658558,82.6256264 89.8753833,85.2086726 C86.8227442,87.7993429 82.9073467,89.151552 78.1015197,89.2596225 C73.3761102,89.3659068 69.2476539,88.0105274 65.6775027,85.185661 C62.0566588,82.3504172 60.2029608,78.3040086 60.1559123,73.0544933 L60.2118638,72.8399494 L69.0227011,72.7218847 C69.0440161,75.7955122 69.8711797,78.0343425 71.4957751,79.4367165 C73.1090836,80.8367885 75.3486905,81.5098768 78.2233207,81.457728 C80.632564,81.4140259 82.4901348,80.8052335 83.8014543,79.6324405 C85.1201382,78.4611251 85.8152307,76.9147052 85.8813385,74.9920264 Z M137.291207,45.0681472 L123.631809,45.0663972 L118.491552,87.6279086 L109.764854,87.8202047 L113.95085,45.0651569 L100.357684,45.0634155 L100.89247,37.1990542 L138.510659,37.3387411 L137.291207,45.0681472 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </g>
  </svg>
</header>
    </div>
    <% if !current_user %>
    <h2> Welcome to Shopping List!</h2>
    <h3>Shopping List is the smarter way to keep your shopping organized.</h3>
    <h3><%= link_to "Sign Up",new_user_registration_path %></h3>
    <h3><%= link_to "Sign In", new_user_session_path%></h3>
  <% else %>
     <h2>Welcome!</h2>
  <% end %>
<%= yield %>

  </body>
</html>
