<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h2>Sign up</h2>

    <div ><%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %></div>

    <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> </div>
    <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %> </div>

    <!-- <div>
       <%= f.label :birth_date %><br />
     <%= f.date_select :date_of_birth %></div> -->

    <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %>

        <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %>

        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

</div>
<%= render "users/shared/links" %>
